@use '../../../styles/mixins/mixins' as *;
@use '../../../styles/variables/variables' as *;

.home{
  @include flex-position(
    flex,
    column,
    auto,
    center,
    center,
    center
  );
  width: 100vw;
  height: 100vh;
  padding: 10rem 0 6rem;
  background-color: $cor-cinza;
  
  &__img{
    img{
      max-width: 70vw;
      width: 20rem;
    }
  }
  
  &__content{
    max-width: 92vw;
    margin-top: 2rem;

    h1{
      font-family: 'Montserrat', sans-serif;
      font-size: $font-h1-default;
    }

    p{
      font-size: $font-p-default;
    }
  }
}

@include viewport(xs){
  .home__content{
    h1{
      font-size: $font-h1-xs;
    }

    p{
      font-size: $font-p-xs;
    }
  }
}