//CORES

$cor-preto: #171717;
$cor-cinza: #232323;
$cor-cinza-claro: #cccccc;
$cor-cinza-medio: #7d7b7b;
$cor-branco: #ededed;
$cor-azul: #0c70f2;
$cor-verde: #32a323;
$cor-vermelho: #df0e0e;

//FONTS

$font-h1-default: 38px;
$font-h1-xs: 30px;
$font-h2-default: 20px;
$font-h2-xs: 16px;
$font-p-default: 14px;
$font-p-xs: 14px;
$font-span: 12px;
$font-alert: 10px;