@use '../../../styles/mixins/mixins' as *;
@use '../../../styles/variables/variables' as *;

.navbar{
  @include flex-position(
    flex,
    column,
    auto,
    center,
    center,
    center
  );
  width: 100vw;
  height: 6rem;
  background-color: $cor-preto;
  color: $cor-branco;

  &__logo img{
    width: 4rem;
  }

  &__links{
    margin: .6rem 0 0;
    a{
      margin: 0 .6rem;
      padding: 0 1rem;
      background-color: $cor-cinza;
    }
  }

}