@use '../../../styles/mixins/mixins' as *;
@use '../../../styles/variables/variables' as *;

.errorpage{
  @include flex-position(
    flex,
    column,
    auto,
    center,
    center,
    center
  );
  width: 100vw;
  height: 90vh;

  p{
    font-size: $font-p-default;
  }
}


@include viewport(xs){
  .errorpage{
    p{
      font-size: $font-p-xs;
    }
  }
}